@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Inter';
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-thumb{
    background-color: #075985;
}

::-webkit-scrollbar-track{
    background: #e4e6e8;
}